<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <title>Twitter Sentiment Analysis</title>

    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>

  </head>
  <body>


    <h1 style="font-family: Arial, sans-serif; margin:auto;" size=100>Twitter Sentiment Analysis</h1>
    <h4 style="font-family: Arial, sans-serif; margin:auto;" size=100>Enter the tweet text and click "Analyze" to get the Positive, Neutral and Negative Sentiment percentages of the tweet!</h4>
    <hr class="solid">

    <div class="container">
        <form action="/process_sentence" method="post" autocomplete="off">
            <input type="text" name="sentence" placeholder="Enter a tweet" required>
            <button type="submit">Analyze</button>
        </form>
    </div>

    <br>
  <p style="font-family: Arial, sans-serif; margin:auto;" size=100>Twitter Sentiment Analysis helps determine the sentiment or emotion expressed in a tweet. This can be useful for understanding public opinion, brand perception, and more.

  A Twitter sentiment analysis identifies negative, positive, or neutral emotions within the text of a tweet. It is a text analysis using natural language processing (NLP) and machine learning.

  <br><br>

  This web application was developed using Python and the Flask framework, integrating the Chart.js library for data visualization. The core functionality of this app leverages the Twitter-RoBERTa base model for sentiment analysis. Users can input a tweet, and the app uses the model to analyze its sentiment, returning the results in the form of a doughnut chart. The styling and presentation of the app were achieved with HTML and CSS, making it an elegant and user-friendly tool for sentiment analysis.</p>


  </body>
</html>